@model IEnumerable<OnlineExamProject.Models.Student_Answers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.q_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.q_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.option)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
