@model IEnumerable<OnlineExamProject.Models.Exam>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Exam", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("GetList", "Index", "Exams")</li>
                        <li><a>Dear - @User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("SignUP", "SignUP", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>*@
<h2>Exams </h2>
<h5>Click on the Apply button to start the test.</h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exam_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exam_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exam_code)
            </td>
            <td>
                | @Html.ActionLink("Apply", "Apply", new { id = item.exam_code }) |

            </td>
        </tr>
    }

</table>
